h1{
	font-size: 200%;
	color: white;
}
body{
	margin: 2%;
	background-color: #eeebdd;
}
header{
	background-color: #1b1717;
	text-align: center;
	padding-bottom: 5px;
}
nav{
	font-variant: small-caps;
	color: ;
	font-size: 150%;
	font-family: serif, Arial, "Times New Roman";
}
#bio{
	font-style: italic;
}
section{
	display: inline-block;
	width: 30%;
	margin: 1%;
	background-color: #bbbbbb;
}
#foot_logo{
	width: 45px;
	background-color: #eeebdd;
}
footer{
	background-color: #1b1717;
	color: #ffffff;
}
a{
	color: #ffffff;
}
a:hover{
	background-color: #bbbbbb;
	color: #000000;
}
a:active{
	border: 2px solid #000000;
}