h1{
	font-size: 200%;
	color: white;
}

header{
	background: #444857;
	text-align: center;
}
nav{
	font-variant: small-caps;
	color: ;
	font-size: 150%;
	font-family: serif, Arial, "Times New Roman";
}
#bio{
	font-style: italic;
}